<md-dialog aria-label="Sign In" style="min-width: 50%;">
  	<form ng-cloak>
	    <md-toolbar>
		    <div class="md-toolbar-tools">
		        <h2>Sign In</h2>
		        <span flex></span>
		        <md-button class="md-icon-button" aria-label="cancel" ng-click="cancel()">
		          	<i class="fa fa-times fa-lg" aria-hidden="true"></i>
		        </md-button>
		    </div>
	    </md-toolbar>
		<md-dialog-content>
		    <div class="md-dialog-content" layout="column">
			    <md-input-container class="md-block">
				    <md-icon><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></md-icon>
				    <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
			    </md-input-container>			
				 <md-input-container class="md-block">
					<md-icon><i class="fa fa-key fa-lg" aria-hidden="true"></i></md-icon>
					<input type="text" ng-model="user.password" placeholder="Password">
				</md-input-container>		
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
		    <md-button class="md-raised" ng-click="cancel()" aria-label="cancel" md-autofocus>Cancel</md-button>	    
		    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    	</md-dialog-actions>
  	</form>
</md-dialog>